# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

schedules:
- cron: "0 0 * * 3"
  displayName: Wednesday midnight build
  branches:
    include:
    - main
  always: true

trigger:
- main
- develop
- feature/*
- bugfix/*


#variables:
#- group: QueoNuGetVars
stages:
- stage: Build
  displayName: 'Build and test package'

  jobs:
  - job: buildAndTest
    pool:
      vmImage: 'windows-latest'
    
    steps:
    # .NET Core 3.1 installieren, da es nicht mehr per default installiert ist
    # wird derzeit noch für die Testausführung benötigt, bis die Testprojekte auf .NET 6.0 angehoben sind
    - task: UseDotNet@2
      displayName: 'Use .NET Core sdk'
      inputs:
        packageType: sdk
        version: 3.1.402
        installationPath: $(Agent.ToolsDirectory)/dotnet
    
    - task: DotNetCoreCLI@2
      inputs:
        command: 'custom'
        custom: 'tool'
        arguments: 'install -g dotnet-format --ignore-failed-sources'
    
    #- task: NuGetAuthenticate@0
    #  inputs:
    #    nuGetServiceConnections: 'queo nuget commons'
    
    - task: PowerShell@2
      inputs:
        filePath: 'build.ps1'
    #    arguments: '--NuGetSource="$(NuGetSource)" --NuGetKey="$(NuGetKey)"'
